<h1><%= @book.title %></h1>
<h2>By <%= @book.author %></h2>
<p><%= @book.page_count %> pages</p>
<p><%= @book.description %></p>


<h3>Comments</h3>
<%= link_to "Add New Comment", new_book_comment_path(@book) %>
<% if @book.comments.empty? %>
    <p>There are no comments yet. Add one!</p>
<% end %>

<ul>
<% @book.comments.each do |c| %>
    <li>
    <%= c.user.name %> says <%= c.content %>
    </li>
<% end %>
</ul>